lxml
pytz
future
zarr
netCDF4
dask[array]
dask[delayed]
dask[dataframe]
pandas
pyarrow
xarray>=0.17.0
numcodecs
numpy
matplotlib
scipy
git+https://github.com/iambaim/pyEcholab.git@fixes_for_crimac#egg=pyEcholab
git+https://github.com/CRIMAC-WP4-Machine-learning/CRIMAC-annotationtools.git@new_fixes#egg=annotationtools
