xarray==0.16.0
numpy==1.20.3
zarr==2.8.1
pandas==1.5.3
pyarrow==8.0.0
rechunker
dask[array]==2021.10.0 
dask[dataframe]==2021.10.0 
dask[delayed] 
dask[distributed]
lxml
pytz
future
netCDF4
numcodecs
scipy
matplotlib
psutil
git+https://github.com/CRIMAC-WP4-Machine-learning/pyEcholab.git@RHT-EK80#egg=pyEcholab
git+https://github.com/CRIMAC-WP4-Machine-learning/CRIMAC-annotationtools.git#egg=annotationtools
